
.header{
	background: purple;
	height: 50px;
	display: flex;
	;
}

.cyans{
	background: cyan;
	height: 30px;
	width: 120px;
	margin: 10px;
}

#long{
	width: 180px;
}

.page{
	height: 500px;
	display: flex;
}

.yellow{
	background: yellow;
	flex-grow: 3;
}

.green{
	background: lime;
	flex-grow: 1;
}


