
body{
	font-family:  'Ubuntu', sans-serif;
}


p{
	background: #0d91a1;
	margin: 10px;
/*	border-top: solid red;
	border-bottom: solid orange;
	border-radius: 40px;		*/
	border: 3px solid #7dce94;
	padding: 10px;  
	color: #015668;
	width: 150px;
	height: 45px;
	font-size: 17px;
	}

