body{
	width: 200px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
/*	font-weight: bold; */
	color: white;
 margin: 0;
}

div{
	margin: 5px;
	border: 5px solid #4285F4;
	text-align: center;
}

p{
	margin: 20px;
	padding: 10px;
}

#n{
	background: #E676bc;
}

#s{
	background: #A9E6E7;
}