
.cargo{
	display: flex;
	flex-direction: ;
	flex-wrap:  wrap;
	justify-content: flex-end;
	
	width: 300px;
}

.green{
	background: #51d400;
	height: 150px;
	width: 150px;
}

.yellow{
	background: #ffd62a;
	height: 150px;
	width: 150px;
}

.purple{
	background: #b02afe;
	height: 150px;
	width: 150px;
}

